In [2]:
import numpy as np
import pandas as pd

In [27]:
age = np.random.normal(80,7,1000)
age= age.astype(int)
# age

In [28]:
df=pd.DataFrame({"age":age})

In [31]:
# df['age'].value_counts()

About 3% of people between the ages of 65–74 have dementia, 19% between 75 and 84, and nearly half of those over 85 years of age.[22] In 2013 dementia resulted in about 1.7 million deaths, up from 0.8 million in 1990.[23] As more people are living longer, dementia is becoming more common.[21]

In [ ]:
# disease_id = [np.random.choice(range(10), p=[0.01,0.1,0.05,0.19,0.3,0.1,0.1,0.05,0.08,0.02]) for i in range(1000)]
# disease_id

In [41]:
def dementia(record):
    if record['age']<74:
        label = np.random.choice([1,0], p=[0.03,0.97])
    elif 84>record['age']>=75:
        label = np.random.choice([1,0], p=[0.19,0.81])
    else:
        label = np.random.choice([1,0], p=[0.5,0.5])
    return label

In [42]:
df['has_dementia']=df.apply(dementia,axis=1)

In [43]:
gender = [np.random.choice([0,1], p=[0.5,0.5]) for i in range(1000)]
df['gender']=gender

In [44]:
df

     age  has_dementia  gender
0     74             1       0
1     72             0       1
2     72             0       0
3     90             1       0
4     79             0       1
..   ...           ...     ...
995   82             0       0
996   71             0       0
997   77             0       1
998   80             0       1
999   84             1       1

[1000 rows x 3 columns]

In [48]:
def mobility(record):
    if record['age']<70 and record['gender']==1:
        label = np.random.choice([1,0], p=[0.125,0.875])
    elif record['age']<70 and record['gender']==0:
        label = np.random.choice([1,0], p=[0.2,0.8])
    elif 80>record['age']>=70 and record['gender']==1:
        label = np.random.choice([1,0], p=[0.25,0.75])
    elif 80>record['age']>=70 and record['gender']==0:
        label = np.random.choice([1,0], p=[0.38,0.62])
    elif record['age']>=80 and record['gender']==1:
        label = np.random.choice([1,0], p=[0.52,0.48])
    else:
        label = np.random.choice([1,0], p=[0.7,0.3])
    return label

In [49]:
df['has_mobility']=df.apply(mobility,axis=1)

In [65]:
df['has_family']=[np.random.choice([1,0], p=[0.50,0.50]) for i in range(1000)]

In [66]:
df['has_family'].value_counts()

0    526
1    474
Name: has_family, dtype: int64

In [68]:
df['city']=[np.random.choice(['Tel-Aviv','Jerusalem','Haifa','Rishon-Letzion','Beer Sheva','Eshdod','Petach-Tikva','Natania'], p=[0.19,0.20,0.16,0.1,0.08,0.08,0.1,0.09]) for i in range(1000)]

In [70]:
def has_spouse(record):
    if record['age']<70 and record['gender']==1:
        label = np.random.choice([1,0], p=[0.9,0.1])
    elif record['age']<70 and record['gender']==0:
        label = np.random.choice([1,0], p=[0.8,0.2])
    elif 80>record['age']>=70 and record['gender']==1:
        label = np.random.choice([1,0], p=[0.8,0.2])
    elif 80>record['age']>=70 and record['gender']==0:
        label = np.random.choice([1,0], p=[0.7,0.3])
    elif record['age']>=80 and record['gender']==1:
        label = np.random.choice([1,0], p=[0.65,0.35])
    else:
        label = np.random.choice([1,0], p=[0.5,0.5])
    return label

In [72]:
df['has_spouse']=df.apply(has_spouse,axis=1)

In [79]:
def using_mobility_device(record):
    if record['age']<70:
        label = np.random.choice([1,0], p=[0.08,0.92])
    elif 74>record['age']>=70 and record['gender']==0:
        label = np.random.choice([1,0], p=[0.09,0.91])
    elif 74>record['age']>=70 and record['gender']==1:
        label = np.random.choice([1,0], p=[0.08,0.92])
    elif 84>record['age']>=75 and record['gender']==0:
        label = np.random.choice([1,0], p=[0.19,0.81])  
    elif 84>record['age']>=75 and record['gender']==1:
        label = np.random.choice([1,0], p=[0.15,0.85]) 
    elif record['age']>=85 and record['gender']==0:
        label = np.random.choice([1,0], p=[0.45,0.55]) 
    else:
        label = np.random.choice([1,0], p=[0.3,0.7]) 
    return label

In [80]:
df['has_mobility_device']=df.apply(using_mobility_device,axis=1)

In [82]:
d={'Tel-Aviv':1,'Jerusalem':2,'Haifa':3,'Rishon-Letzion':4,'Beer Sheva':5,'Eshdod':6,'Petach-Tikva':7,'Natania':8}

In [83]:
df['city']=df['city'].map(d)

In [85]:
df['task']=[np.random.choice(['carry bags','company','housekeeping','pet care','technology','walk']) for i in range(1000)]

In [86]:
d={'carry bags':1,'company':2,'housekeeping':3,'pet care':4,'technology':5,'walk':6}

In [87]:
df['task']=df['task'].map(d)

In [97]:
def duration(record):
    if record['task']==1:
        label = np.random.choice(30,10,1)[0]
    elif record['task']==2:
        label = np.random.choice(60,20,1)[0]
    elif record['task']==3:
        label = np.random.choice(120,30,1)[0]
    elif record['task']==4:
        label = np.random.choice(30,20,1)[0]
    elif record['task']==5:
        label = np.random.choice(100,20,1)[0]
    else:
        label = np.random.choice(100,30,1)[0]
    return label

In [98]:
df['duration']=df.apply(duration,axis=1)

In [99]:
df

,age,has_dementia,gender,has_mobility,has_family,city,has_spouse,has_mobility_device,task,duration
0,74,1,0,1,0,4,1,0,1,28
1,72,0,1,0,1,8,1,0,4,3
2,72,0,0,0,0,1,0,0,3,7
3,90,1,0,0,0,3,1,0,5,52
4,79,0,1,0,1,3,1,0,6,47
...,...,...,...,...,...,...,...,...,...,...
995,82,0,0,1,1,4,1,1,1,22
996,71,0,0,0,0,1,1,0,5,0
997,77,0,1,0,1,8,1,0,4,15
998,80,0,1,0,1,4,1,1,1,2
999,84,1,1,1,0,7,1,0,3,78